<!DOCTYPE html>
<html>
    <head>
        <title>Django blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django Blog</a></h1>
        </header>

        <article>
            <time>published: 25.02.2024, 7:25</time>
            <h2><a href="">My first post</a></h2>
            <p>Gott Erhalte Franz den Kaiser</p>
        </article>

        <article>
            <time>published: 25.02.2024, 7:26</time>
            <h2><a href="">My second post</a></h2>
            <p>Si Deus nobiscum quis contra nos?</p>
        </article>
    </body>
</html>